#my-photo {
	width: 200px;
}

.container-carousel {
	width: 550px;
	height: auto;
}

#html {
	width: 200px;
}

#bootstrap {
	width: 200px;
}

#nodejs {
	width: 300px;
}

.box-size-set {
	height: 200px;
}

.box-size-set-bg {
	width: 500px;
}